{% extends "authentication/_base.html" %}
{% load static %} <!DOCTYPE html>
{% block body %}
  
  <title>{% block title %}Authentication.io Add File {% endblock %}</title>
  <!-- Custom styles for this template -->
  <link href="{{ STATIC_URL }}authentication/bootstrap-3.1.1-dist/css/add.css" rel="stylesheet">

  <div class="container">
  <form class="form-document" role="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    {% block description %} 
      <h2 class="form-document-heading">Add a file</h2>
    {% endblock %}
    {% for field in form %}
    {% if field.field.required %}
      <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
      </div>
    {% endif %}
    {% endfor %}

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a data-toggle="collapse" data-parent="#accordion" href="#DocInfo">
Additional Information (Optional)
</a>
</h4>
</div>
<div id="DocInfo" class="panel-collapse collapse">
<div class="panel-body">
    {% for field in form %}
    {% if not field.field.required %}
      <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
      </div>
    {% endif %}
    {% endfor %}
</div>
</div>
</div>

    {% block hashes %}{% endblock %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">
    {% block action %}Submit{% endblock %}
    </button>
  </form>
  </div> <!-- /container -->
{% endblock %}
