{% extends "authentication/add.html" %}
{% load static %} <!DOCTYPE html>

{% block title %}Authentication.io Edit File {% endblock %}

{% block description %}
  <h2 class="form-document-heading">Edit a file</h2>
{% endblock %}

{% block hashes %}

<link href="{{ STATIC_URL }}authentication/css/edit.css" rel="stylesheet">
<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#HashInfo">
    <h4 class="panel-title">
      Hash Data
    </h4>
  </div>

  <div id="HashInfo" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="form-horizontal">
        
        <div class="form-group">
          <label for="id_sha256" class="col-sm-2 control-label">Sha256</label>
            <div class="col-sm-10">
              <input type="text" id="id_sha256" class="form-control" value={{doc.sha256}} readonly>
              </input>
            </div>
          </div>

          <div class="form-group">
            <label for="id_sha512" class="col-sm-2 control-label">Sha512</label>
              <div class="col-sm-10">
               <input type="text" id="id_sha512" class="form-control" value={{doc.sha512}} readonly>
               </input>
             </div>
           </div>
    
           <div class="form-group">
             <label for="id_gpgsig" class="col-sm-2 control-label">Gpgsig</label>
               <div class="col-sm-10">
                 <textarea id="id_gpgsig" class="form-control" readonly>{{doc.gpgsig}} 
                 </textarea>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>

{% endblock %}

{% block action %} Save Changes {% endblock %}
