{% extends "authentication/_base.html" %}
{% load static %}

<!DOCTYPE html>

{% block title %}Authentication.io: Check a File{% endblock %}
{% block body %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'authentication/css/dropzone.css' %}" type="text/css" rel="stylesheet" />
  <link href="{{STATIC_URL}}authentication/css/edit.css" rel="stylesheet" />
  <style>
    .row{word-wrap: normal;   
      }
  </style>


<div class="container">
    <h1>Drag-and-drop a file to confirm whether it's authentic!</h1>
    <div id="formid">
        <form id="dz" class="dropzone" enctype="multipart/form-data" method="post" action="{% url 'upload' %}">
            {% csrf_token %}
        </form>
    </div>
    <div id="response">

    </div>
    <div class="panel panel-default hidden">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#FileInfo">
        <h4 class="panel-title">File Details <b class="caret"></b></h4>
      </div>
      <div id="FileInfo" class="panel-collapse collapse">
        <div class="panel-body" id="details">
          <div class="form-horizontal">
          
          <div class="form-group">
            <label for="doc_name" class="col-sm-2 control-label">Document Name:</label>
            <div class="col-sm-10">
              <input type="text" id="doc_name" class="form-control" readonly></input>
            </div>
          </div>

          <div class="form-group">
            <label for="id_sha512" class="col-sm-2 control-label">SHA512:</label>
            <div class="col-sm-10">
              <input type="text" id="id_sha512" class="form-control" readonly></input>
            </div>
            </div>
          
          <div class="form-group">
            <label for="fingerprint" class="col-sm-2 control-label">Signer Fingerprint:</label>
            <div class="col-sm-10">
              <input type="text" id="fingerprint" class="form-control" readonly></input>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<script src="{% static 'authentication/js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'authentication/js/dropzone.js' %}"></script>
<script type="text/javascript">
Dropzone.options.dz = {
    paramName: "user_file",
    init: function() {
        this.on("success", function(file) {
            r = JSON.parse(file.xhr.response);
            d = r.document;
            v = r.validation;
            if (v && v.is_valid == true) {
                $("#response").html("<h2 style='color:green'><span class='glyphicon glyphicon-ok'></span> File found!</h1>");
                $("#doc_name").attr("value", d.name);
                $("#id_sha512").attr("value", d.sha512);
                $("#fingerprint").attr("value", v.fingerprint);
                $(".panel.hidden").removeClass('hidden');
            }
            else {
              $("#response").html("<h2 style='color:crimson'><span style='color:crimson' class='glyphicon glyphicon-remove'></span> File does not match any documents</h2>");
              $(".panel").addClass('hidden');
            }
            this.removeFile(file)
        });
    }
}
</script>
{% endblock %}
