Cython==0.18
Django==1.7.2
PyYAML==3.10
argparse==1.2.1
args==0.1.0
chardet==2.0.1
clint==0.3.3
colorama==0.2.5
dj-database-url==0.3.0
dj-static==0.0.6
django-yubico==0.3.1
docopt==0.6.1
gevent==1.0
gnupg==1.2.5
gnureadline==6.3.3
greenlet==0.4.5
gunicorn==19.1.1
html5lib==0.999
internetarchive==0.7.5
ipython==2.3.1
jsonpatch==0.4
psutil==1.2.1
psycopg2==2.5.4
py==1.4.26
pytest==2.3.4
requests==2.2.1
six==1.4.1
static3==0.5.1
ujson==1.33
urllib3==1.7.1
wsgiref==0.1.2
yubico-client==1.9.1
