Cython==0.18
Django==1.7b3
PyYAML==3.10
args==0.1.0
clint==0.3.3
dj-database-url==0.3.0
dj-static==0.0.6
docopt==0.6.1
gevent==1.0
gnupg==1.2.5
greenlet==0.4.5
gunicorn==19.1.1
internetarchive==0.7.5
jsonpatch==0.4
psutil==1.2.1
psycopg2==2.5.4
py==1.4.26
pytest==2.3.4
requests==2.3.0
six==1.4.1
static3==0.5.1
ujson==1.33
wsgiref==0.1.2
