# This file will override anything inside authentication/settings.py .
# The "local_settings.py" file is also explicitly ignored by git,
# which makes it a good place to store settings that would be bad to
# accidentally 

# See https://docs.djangoproject.com/en/1.7/howto/deployment/checklist/
# for a good guide on editing this file.

import os
BASE_DIR = os.path.dirname(__file__)

######################################################################

# https://docs.djangoproject.com/en/1.7/howto/deployment/checklist/#secret-key
SECRET_KEY = 'CHANGEME'

# Change to False in production
DEBUG = True
TEMPLATE_DEBUG = True

# Change database specific to this machine. DO NOT use sqlite3
# in production.
#DATABASES = {
#    'default': {
#        'ENGINE': 'django.db.backends.sqlite3',
#        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
#    }
#}

# Set up for PostgreSQL
import dj_database_url
DATABASE_URL = "postgres://USER:PASSWORD@HOST:PORT/NAME"
DATABASES = {
    "default": dj_database_url.config(default=DATABASE_URL)
}

# https://docs.djangoproject.com/en/1.6/howto/static-files/
STATIC_URL = '/static/'

######################################################################

# Authentication.io will automatically try to use the system's default
# `gpg2` or `gpg` binary on Linux/Unix/OSX systems. For Windows hosts, or
# if your system "Could not find the `gpg` or `gpg2` executable", uncomment
# one of the lines and update the value to where you installed GnuPG.
#GNUPG_BINARY = "C:/GnuPG/gpg.exe"  # for Windows
#GNUPG_BINARY = "/usr/local/opt/gnupg2/bin/gpg2"  # for *nix

# Set this the way you would set SECRET_KEY (but use a different value).
# Note: if you ever update this, you will need to generate a new
# GNUPG_IDENTITY.
GNUPG_PASSPHRASE = 'CHANGEME'

# On initial setup, this will be used to populate the name & other info
# for the server's default authentication key.
GNUPG_IDENTITY_DEFAULTS = {

    # This is displayed on the key; make it something that identifies this website.
    'name_real': 'Authentication.io',

    # Make this a real address that will never change. ("support@example.com", etc)
    'name_email': 'test@example.com',

    # Don't edit this (it is set as GNUPG_PASSPHRASE, above).
    'passphrase': GNUPG_PASSPHRASE
}

# After initial setup (the script will tell you how to update this), this
# line change from None to the long GPG key identifier.
GNUPG_IDENTITY = None

# This is for the Internet Archive
IA_ITEM = "DOCUMENT COLLECTION"
IA_CREATOR = "ORGANIZATION NAME"
IA_ACCESS_KEY = "access_key"
IA_SECRET_KEY = "secret_key"